# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# ignore local generated paths
/EmployeeManagement/.vs
/EmployeeManagement/EmployeeManagement/result.txt
/EmployeeManagement/EmployeeManagement/x64
/EmployeeManagement/EmployeeManagementTest/x64
/EmployeeManagement/packages
/EmployeeManagement/x64
